extends layout

block content
    div#container
        h1.topleft.primaryColor= "MyTube"
        form#f(action="/search", method="get")
            input.small#bar(name='userQuery' placeholder="Insert your query here" value=userQuery)
    div#results
        each one in results
            div.result

                a.primaryColor(href="http://"+one.link)= one.link
                p= one.text
    div.footer
        each page in pageNumber
            div.linkcontainer
                if page!="..."
                    a.botlink(href="http://localhost:6969/search/" + userQuery + "/" + page)= page
                else
                    a.botlink.primaryColor(href="#")= page
